[package]
name = "arrowcss"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
config = "0.13.4"
cssparser = "0.33.0"
lazy_static = "1.4.0"
regex = "1.10.2"
serde = "1.0.193"
